<html>
     <head>
         <title>Real time Voting Updates</title>

     </head>
     <body>
     <h3>
         President Candidates Live Votes
     </h3>
     <div id="panel">
         <p>President Votes Live</p>
      <div id="field_name">Real Time Updates</div>
    </div>
         <script>

             const ws = new WebSocket("ws://vast-wildwood-12428.herokuapp.com/ws");
            // const ws = new WebSocket("ws://localhost:8000/ws");

             console.log(ws);
             var table = document.getElementById('body');

             ws.onmessage = function(event) {
                 const votes = JSON.parse(event.data);
                 console.log(votes);
                 const result = JSON.parse(event.data);
                 console.log();
                 f_name = document.getElementById('field_name')
                 f_name.innerHTML = result[1][0].name + " " +result[1][1].total_votes+ " | " + result[2][0].name + " " +result[2][1].total_votes+" | "
                 + result[3][0].name + " " +result[3][1].total_votes+ " | " +result[4][0].name +" " +result[4][1].total_votes;

                   };
         </script>
     </body>
 </html>